input,
textarea,
select { font-family:Tahoma,Arial,"Helvetica Neue",Helvetica,sans-serif; }

body.droplitcube {
  font-family:Tahoma,Arial,"Helvetica Neue",Helvetica,sans-serif;
  color:#212121;
  background-color: #EFFDFF;
  /* background:#ccc url(images/bleeds.png) 0px -80px repeat-x fixed; */
  }

a {
  color:#39c;
  text-decoration:none;
  }



/**
 * "Rounded" elements =================================================
 */
.item-list,
.help-items ul,
.fieldset,
.form-item,
.admin-list,
.node-type-list,
.admin-panel,
.box-title,
div.messages,
div.compact-link a,
form.confirmation ul,
form div.buttons,
input.teaser-button,
input.form-submit {
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

.item-list h3,
.admin-panel h3,
.fieldset-title,
.collapsible .fieldset-title a {
  -moz-border-radius:2px 2px 0px 0px;
  -webkit-border-radius-top-left:2px;
  -webkit-border-radius-top-right:2px;
  }

.collapsible .fieldset-title {
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  }

.collapsed .fieldset-title a {
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  }

.fieldset-content {
  -moz-border-radius:0px 0px 2px 2px;
  -webkit-border-radius-bottom-left:2px;
  -webkit-border-radius-bottom-right:2px;
  }

/**
 * "Popped" elements ==================================================
 */
div.messages {
  -moz-box-shadow:#ddd 0px 1px 3px;
  -webkit-box-shadow:#ddd 0px 1px 3px;
  }

input.teaser-button,
input.form-submit {
  -moz-box-shadow:#ddd 0px 1px 1px;
  -webkit-box-shadow:#ddd 0px 1px 1px;
  }

/**
 * "Embossed" elements ================================================
 */
table,
.item-list,
.help-items ul,
.fieldset,
.form-item,
.admin-list,
.node-type-list,
.admin-panel,
ul.pager a:hover,
form.confirmation ul {
  -moz-box-shadow:#fff 0px 1px 0px;
  -webkit-box-shadow:#fff 0px 1px 0px;
  }

.block .item-list,
.block .form-item,
.admin-panel .admin-list,
.teaser-checkbox .form-item,
.form-item .form-item,
.fieldset .form-item,
table div.form-item {
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  }

/**
 * Branding ===========================================================
 */
#branding {
  padding:10px 0;
  /* overflow:hidden; */
  height:20px;
  position:relative;
  line-height:20px;
  color:#999;
  font-size:11px;
  text-shadow:#fff 0px 1px 0px;
  }

#branding a {
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  color:#333;
  float:left;
  padding:0px 10px;
  }

#branding a:hover { background:#ddd; }

#branding ul.links { float:right; }

#branding div.breadcrumb {
  padding:0px;
  float:left;
  text-transform:uppercase;
  font-weight:normal;
  }

  #branding div.breadcrumb a,
  #branding div.breadcrumb strong {
    font-weight:normal;
    float:left;
    padding:0px 5px;
    }

  #branding div.breadcrumb span.breadcrumb-link {
    float:left;
    padding-right:5px;
    background:url(images/sprite.png) 100% 100% no-repeat;
    }

/**
 * Page title =========================================================
 */
#page-title {
  /* position:relative; */
  /* padding:0px 30px; */
  }

  #page-title h2.page-title {

    }

  #page-title h2.page-title span.icon {
    float:left;
    margin-right:10px;
    }

/**
 * Tabs ===============================================================
 */
.page-tabs {

}

ul.primary-tabs {
  position:relative;
  bottom:-1px;
  overflow:hidden;
  height:36px;
  padding:0px;
  line-height:21px;
  }

ul.primary-tabs li {

}

ul.pager a,
ul.pager li.pager-current,
ul.primary-tabs li a {
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -moz-box-shadow:0 1px 1px #DDDDDD;
  -webkit-box-shadow:0 1px 1px #DDDDDD;
  padding:3px 6px;

  color:#999;
  background:transparent;

  border-style:solid;
  border-width:1px;
  border-color:#DDDDDD #DDDDDD #CCCCCC;
  
  background:url("images/bleeds.png") repeat-x scroll 0 -41px #F4F4F4;
  cursor:pointer;
  display:inline;
  font-size:12px;
  font-weight:normal;
  line-height:21px;
  padding:2px 10px;
  text-align:center;
  text-decoration:none;
  }

  ul.pager a:hover {
    background:#eee;
    border-color:#ccc #ddd #eee;
    }

ul.pager li.pager-current,
ul.primary-tabs li a:hover {
  -moz-box-shadow:#fff 0px 1px 0px;
  -webkit-box-shadow:#fff 0px 1px 0px;
  border-color:#999;
  background:url("images/bleeds.png") repeat-x scroll 0 0 #888888;
  color:#fff;
  }

ul.primary-tabs li.active a,
ul.primary-tabs li.active a.active {
  color:#FFFFFF;
  border-style:solid;
  border-width:1px;
  border-color:#999999 #999999 #888888;
  background:url("images/bleeds.png") repeat-x scroll 0 0 #888888;
  }

div.secondary-tabs {
  font-size:11px;
  padding:4px;
  border-bottom:1px solid #e8e8e8;
  }

  ul.secondary-tabs { float:right; }

  ul.secondary-tabs li a,
  ul.secondary-tabs li a:hover {
    color:#333;
    padding:0px 10px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    }

  ul.secondary-tabs li a:hover { background:#ddd; }

  ul.secondary-tabs li a.active,
  ul.secondary-tabs li.active a {
    background:#888 url(images/bleeds.png) 0px 0px repeat-x;
    color:#fff;
    }


/**
 * Page layout ========================================================
 */
#page {

  }

div.page-content {
  }

div.content-wrapper {
  }

div.messages {
  margin:20px 0;
}


div.form-layout-default {
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  margin:0px;
  padding:10px;
  border:1px solid #F4F4F4;
  background:#FCFCFC;
}

/**
 * Footer =============================================================
 */
#footer {
  padding:10px 0;
  }

#footer div.footer-message {
  float:left;
  }

#footer div.feed-icons {

  }

#footer div.feed-icons img {

  }

#footer div.feed-icons label, #footer div.feed-icons a {

  }

/**
 * Help ===============================================================
 */
a#help-toggler {
  position:absolute;
  right:30px;
  bottom:10px;
  background:url(images/sprite.png) -20px 0px no-repeat;

  height:20px;
  width:20px;

  text-indent:-999px;
  overflow:hidden;
  }

  a#help-toggler.toggler-active { background-position:-20px -20px; }

  a#help-toggler.toggler-disabled {
    cursor:default;
    background-position:-20px -40px;
    }

#help-text {
  background:#fff url(images/vrule.png) 65% 0% repeat-y;
  border-bottom:1px solid #ddd;
  }

  #help-text.with-tabs {
    -moz-border-radius:2px 2px 0px 0px;
    -webkit-border-radius-top-left:2px;
    -webkit-border-radius-top-right:2px;
    }

  #help-text label.breadcrumb-label,
  #help-text span.breadcrumb-link { display:block; }

  #help-text span.breadcrumb-link {
    background:url(images/sprite.png) -185px -180px no-repeat;
    padding-left:20px;
    }

/**
 * Content ============================================================
 */
div.help-page,
div.comment,
div.node {
  margin-bottom:20px;
  }

/* Probably will remove */
#help-text div.column-main div.column-wrapper,
div.help-page div.column-main div.column-wrapper,
div.comment div.column-main div.column-wrapper,
div.node div.column-main div.column-wrapper { /* padding:19px; */}

  #help-text div.column-main div.column-wrapper {
    padding-left:59px;
    position:relative;
    }

    #help-text div.column-main div.column-wrapper span.icon {
      position:absolute;
      top:15px;
      left:15px;
      }

#help-text div.column-side div.column-wrapper,
div.help-page div.column-side div.column-wrapper,
div.comment div.column-side div.column-wrapper,
div.node div.column-side div.column-wrapper {

  }

#help-text div.column-side .help-links,
div.help-page div.column-side .help-page-links {
  padding:10px;
  background:#f8f8f8;
  }

div.comment-links,
div.node-links { padding:10px 0px; }

div.help-page div.help-page-links ul.links {
  -moz-column-count:2;
  -webkit-column-count:2;
  }


h2.comment-title,
h2.node-title {

  }



/**
 * Beginning of Droplits additions ============================================================
 */
.print_html, .print_mail, .print_pdf {
  margin-left:0;
}


.developer {
  background-color: #FFFF88;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 20px;
  display:none;
}
.developer-node {
  background-color: #AAAA88;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 20px;
  display:none;
}

#right .block {
  margin-bottom:30px;
}



.node-wrapper {
  /* -moz-border-radius:3px; */
  /* -webkit-border-radius:3px; */
  /* background-color:#f2f2f2; */
  padding:0;
}

.node-submitted-wrapper {
  padding:10px 0;
}


/* $Id: vertical-tabs.css,v 1.5 2010/03/20 14:45:05 dries Exp $ */

/**
 * Override of misc/vertical-tabs.css.
 */
div.vertical-tabs {
  margin: 10px 0;
  padding: 9px;
  border: 1px solid #ccc;
  background: #f8f8f8;
}

div.vertical-tabs fieldset {
  border: 0;
  padding: 0 0 0 20px;
}

div.vertical-tabs .vertical-tabs-list {
  line-height: 10px;
  font-size: 11px;
  width: 25%;
  float: left;
  list-style-type: none;
  margin: 0;
}

div.vertical-tabs ul li.vertical-tab-button {
  list-style-type: none;
  margin: 0;
}

div.vertical-tabs ul li.vertical-tab-button a {
  display: block;
  border-right: 1px solid #ccc;
  padding: 10px 9px 10px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
}

div.vertical-tabs ul li.vertical-tab-button .summary {
  display: block;
  font-size: 9px;
  color: #666;
  padding-top: 0.4em;
}

div.vertical-tabs ul li.vertical-tab-button a:hover {
  background: #fff;
  text-decoration: none;
}

div.vertical-tabs ul li.selected a,
div.vertical-tabs ul li.selected a:hover {
  background: #ddd;
}

div.vertical-tabs .vertical-tabs-panes {
  width: 72%;
  padding: 0 1em 0 0;
  float: right;
}

div.vertical-tabs .vertical-tabs-panes legend {
  display: none;
}